.container
  .row
    .col-md-6.col-md-offset-3
      %ul.notification-index-list
        Readed notifications
        #notifications
        - @notifications.each do |notification|
          .panel.panel-success
            .panel-heading
              = link_to "#{notification.notified_by.user_name} has #{notification.notice_type}ed on your post", link_through_path(notification)
              .time-ago
                = time_ago_in_words notification.created_at 
        #paginator1.text-center
          = link_to_next_page @notifications, 'LOAD MORE', remote: true, id: 'load_more1'
     
  
  

